<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project2_Dovantrung_2110900043</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/fc74be768b.js"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="preload" data-preload>
        <div class="circle"></div>
        <p class="text">Trung Liver</p>
    </div>
  
    <header>
        <div id="logo">
            <img src="../image/333.png" alt="" />
        </div>
        <ul class="menu-top">
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="../html/menu.html">Menu</a></li>
            <li><a href="">Landing</a></li>
            @if(!User.Identity.IsAuthenticated){
                <li><a href="/Home/Login">Sign in</a></li>
            <li><a href="/Home/Register">Sign up</a></li>
            }else{
                <ul class="check_user">
                    <!-- <li><a href="../html/login.html">Sign in</a></li>
                    <li><a href="">Sign up</a></li> -->
                    <li>
                        <a href="/Home/Profile"><i class="fa-regular fa-user"></i></a>
                    </li>
                    <li>
                        <!-- <a href=""><p class="fa-solid fa-cart-shopping"></p></a> -->
                        <input type="checkbox" name="" id="cart" />
                        <label for="cart" class="label-cart">
                            <p class="fa-solid fa-cart-shopping"></p>
                        </label>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>

                </ul>
            }

        </ul>
        <li class="bar"><i class="fa-solid fa-bars"></i></li>
    </header>
    <!-- order dashbhoard -->
    <div class="dashboard-order">
        <label for="cart" class="label-cart">
            <p class="fa-solid fa-cart-shopping"></p>
        </label>
        <h3>Order Menu</h3>
        <div class="order-adress">
            <p>Address Delivery</p>
            <h6>28A Le Trong Tan , Ha Dong</h6>
        </div>
        <div class="order-time">
            <span class="fas fa-clock"></span>
            30 mins <span class="fas fa-map-marker-alt"></span> 2km
        </div>
        <div class="order-wrapper">
            <div class="order-card">
                <img src="../image/trrt.jpg" alt="" class="order-image" />
                <div class="order-detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <i class="fas fa-times"></i><input type="text" value="1" />
                </div>
                <h6 class="order-price">$35</h6>
            </div>
            <div class="order-card">
                <img src="../image/trrt.jpg" alt="" class="order-image" />
                <div class="order-detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <i class="fas fa-times"></i><input type="text" value="1" />
                </div>
                <h6 class="order-price">$35</h6>
            </div>
            <div class="order-card">
                <img src="../image/trrt.jpg" alt="" class="order-image" />
                <div class="order-detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <i class="fas fa-times"></i><input type="text" value="1" />
                </div>
                <h6 class="order-price">$35</h6>
            </div>
            <div class="order-card">
                <img src="../image/trrt.jpg" alt="" class="order-image" />
                <div class="order-detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <i class="fas fa-times"></i><input type="text" value="1" />
                </div>
                <h6 class="order-price">$35</h6>
            </div>
        </div>

        <hr class="divider" />
        <div class="order-total">
            <p>Subtotal <span>$156</span></p>
            <p>Tax(10%) <span>$15.6</span></p>
            <p>Delivery Free <span>$3</span></p>
            <div class="order-promo">
                <input type="text" placeholder="Apply Voucher" class="input-promo" />
                <button class="button-promo">Find Voucher</button>
            </div>
            <hr class="divider" />
            <p>Total <span>$120.4</span></p>
        </div>
        <button class="checkout">Checkout</button>
    </div>
            @RenderBody()
     

    <footer class="border-top footer text-muted">
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ordermenu.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
