@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/index.css" rel="stylesheet" />

<section>
    <div class="top_content">
        <div class="image_top_content">
            <img src="../image/nn-min.jpg" alt="" />
        </div>
        <div class="introduce_topcontent">
            <img src="../image/333.png" alt="" />
            <h1>​Fresh breads handcrafted daily</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est,
                inventore.
            </p>
            <span>Liver</span>
            <button>Read More</button>
        </div>
    </div>
    <div class="Our_bread">
        <h1 class="reveal">Our Bread</h1>
        <ul class="menu_our_bread reveal">
            <li>
                <img src="../image/ghgh.jpg" class="expand" alt="" />
                <h4>White Bread</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam,
                    dicta!
                </p>

                <button>Learn More</button>
            </li>
            <li>
                <img src="../image/rre.jpg" class="expand" alt="" />
                <h4>White Bread</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam,
                    dicta!
                </p>
                <button>Learn More</button>
            </li>
            <li>
                <img src="../image/trrt.jpg" class="expand" alt="" />
                <h4>White Bread</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam,
                    dicta!
                </p>
                <button>Learn More</button>
            </li>
            <li>
                <img src="../image/j.jpg" class="expand" alt="" />
                <h4>White Bread</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam,
                    dicta!
                </p>
                <button>Learn More</button>
            </li>
        </ul>
    </div>
    <div class="mid_content">
        <div class="image_mid_content">
            <img src="../image/-min.jpg" alt="" />
        </div>
        <div class="text_mid_content increment">
            <h2>Ingredients & Method</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis
                necessitatibus eum deleniti, repellat nesciunt consequuntur
                inventore architecto magnam mollitia sunt quasi provident maxime
                iusto minima. Odio voluptatem corporis perspiciatis ut.
            </p>
            <button>Learn more</button>
        </div>
    </div>
    <div class="grid_our_menu">
        <h1>Our Bread</h1>
        <ul class="menu_grid_bread reveal">
            <li>
                <h2>GLASSIC BAGUETTE</h2>
                <i>
                    Unbleached organic wheat flour, whole rye flour, water, sea salt,
                    yeast
                </i>
            </li>
            <li>
                <h2>BAGUETTE</h2>
                <i>
                    Naturally leavened baguette made using the Five Points Levain
                    dough. This baguette is crustier and chewier than the Classic
                    Baguette
                </i>
            </li>
            <li>
                <h2>PEKAN RAISIN</h2>
                <i>
                    Naturally leavened bread made using the French Country dough with
                    the additions of local Georgia pecans and Thompson raisins
                </i>
            </li>
            <li>
                <h2>EVERYDAY FRENCH</h2>
                <i>Everyday table loaf made using the Classic Baguette dough</i>
            </li>
            <li>
                <h2>MULTIGRAIN</h2>
                <i>
                    Naturally leavened bread made using the French Country dough with
                    the additions of millet, quinoa, rolled oats, flax seeds, and
                    sunflower seeds
                </i>
            </li>
            <li>
                <h2>DANISH RYE</h2>
                <i>
                    Whole rye flour, cracked rye berries, water, natural leaven
                    culture made with rye flour, pumpkin seeds, sunflower seeds,
                    barley malt syrup, sea salt
                </i>
            </li>
            <li>
                <h2>Levain</h2>
                <i>
                    ​Unbleached organic wheat flour, whole rye flour, water, natural
                    leaven culture, sea salt
                </i>
            </li>
            <li>
                <h2>Ciabatta</h2>
                <i>
                    ​Unbleached organic wheat flour, whole rye flour, water, natural
                    leaven culture, sea salt, yeast
                </i>
            </li>
            <li>
                <h2>Handmade Bread</h2>
                <i>
                    ​Naturally leavened bread made using the Sourdough Rye dough and
                    studded with dried black currants
                </i>
            </li>
        </ul>
    </div>
    <div class="customer_comment">
        <h1 class="increment">Read what our customers say</h1>
        <ul class="list_comment">
            <li class="comment reveal">
                <p><i class="fa-solid fa-quote-left"></i></p>
                <span>
                    Proin sed libero enim sed faucibus turpis. At imperdiet dui
                    accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla
                    pharetra diam sit amet nisl.
                </span>
                <div class="user_comment">CELIA ALMEDA</div>
            </li>
            <li class="comment reveal">
                <p><i class="fa-solid fa-quote-left"></i></p>
                <span>
                    Proin sed libero enim sed faucibus turpis. At imperdiet dui
                    accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla
                    pharetra diam sit amet nisl.
                </span>
                <div class="user_comment">FRANK KINNEY</div>
            </li>
            <li class="comment reveal">
                <p><i class="fa-solid fa-quote-left"></i></p>
                <span>
                    Proin sed libero enim sed faucibus turpis. At imperdiet dui
                    accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla
                    pharetra diam sit amet nisl.
                </span>
                <div class="user_comment">SAM PERRY</div>
            </li>
            <li class="comment reveal">
                <p><i class="fa-solid fa-quote-left"></i></p>
                <span>
                    Proin sed libero enim sed faucibus turpis. At imperdiet dui
                    accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla
                    pharetra diam sit amet nisl.
                </span>
                <div class="user_comment">MARRY HUDSON</div>
            </li>
        </ul>
    </div>

    <div class="contact_us">
        <div class="box_contact_us">
            <h1>Contact Us</h1>
            <form action="">
                <div class="form_control">
                    <div class="Email">
                        <label for="email">Email</label>
                        <input type="text" placeholder="Email" name="email" />
                    </div>
                    <div class="Name">
                        <label for="username">Name</label>
                        <input type="text"
                               placeholder="your username"
                               name="username"
                               id="" />
                    </div>
                </div>
                <button>Submit</button>
            </form>
        </div>
        <ul class="list_contact_us">
            <li>
                <h2>Find Us</h2>
                <p>28A Lê Trọng Tấn,Hà Đông,Hà Nội</p>
                <span>0566036299</span>
            </li>
            <li>
                <h2>HOURS</h2>
                <p>Monday - Saturday</p>
                <p>9am - 7pm</p>
                <p>Sunday</p>
                <p>10am - 6pm</p>
            </li>
            <li>
                <h2>Call Us</h2>
                <p>0566036299</p>
                <span>1(234)56789 </span>
            </li>
        </ul>
    </div>
</section>